<nav class="d-flex align-center space-between pl-5 pr-5">
    <div class="logo"></div>
    <div class="menu-item">
      <ul class="d-flex gap20">
        <li><a href="/">home</li></a>
        <li>Work</li>
        <li>
          <a href="./about.html">About</a>
        </li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="mobile-menu">
      <div class="menu">
        <p id="open">menu</p>
        <p id="close">close</p>
      </div>
    </div>
    <div class="mobile-menu-full">
      <ul class="d-flex gap50">
        <li>Home</li>
        <li>Work</li>
        <li>
          <a href="./about.html">About</a>
        </li>
        <li>Contact</li>
      </ul>
    </div>
  </nav>